.background{
  background-image: url("http://image.noelshack.com/fichiers/2022/47/2/1669127659-backgroundimg.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 3%;
  padding-bottom: 20rem;
  flex-grow: 1;
}

.container{
  font-family: $racing-font;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 100px;
  margin: 0 auto;
  opacity: 0.8;
  box-shadow: 0 0 10px #000;
  margin-top: 3%;
  padding-top: 50px;
  padding-bottom: 100px;
  h1, h2 {
    font-family: $racing-font;
  }
}

.center_content{
  text-align: center;
}
