.backgroundShow{
  background-image: url("http://image.noelshack.com/fichiers/2022/47/2/1669127659-backgroundimg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  padding-top: 3%;
  padding-bottom: 3%;
}

.containerShow{
  font-family: $racing-font;
  background-color:whitesmoke;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 100px;
  margin: 0 auto;
  box-shadow: 0 0 10px #000;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 50px;
  padding-bottom: 100px;
  h1, h2 {
    font-family: $racing-font;
  }

  h2{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.center_contentShow{
  text-align: center;
}
