<% provide(:title, "Home") %>

<div class="home background">
  <div class="container">
    <div class="center_content">

      <h1>BIENVENUE CHEZ FAT CARS COLLECTION</h1>
    <p><span data-controller="typed-js"></span></p>

      <h2>Loue ta voiture de rêve ici.</h2>

      <%= link_to "CLICK", cars_path, class: "btn btn--pulse" %>
    </div>
  </div>
</div>
