<% provide(:title, "Home") %>

<div class="home background">
  <div class="container">
    <div class="center_content">
      <h1>BIENVENUE CHEZ FAT CARS COLLECTION</h1>

      <h2>Loue ta voiture de rêve ici.</h2>

<<<<<<< HEAD
        <%= link_to "CLICK", cars_path, class: "home-button" %>
      </div>
=======
      <%= link_to "CLICK", cars_path, class: "btn btn--pulse" %>
>>>>>>> 76affaf0db51cf1091f9a0998dadb663ffcea47a
    </div>
  </div>
</div>
