h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.main-container {
  flex-wrap: wrap;
  margin: 80px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  color: black;
  transition: transform .1s;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

.containerProfile{
 margin: 0 auto;
 width: 80%;
 height: 100vh;
}

.card-trip:hover {
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.8);
  // -ms-transform: scale(1.1);
  // -webkit-transform: scale(1.1);
  // transform: scale(1.1);
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.selector{
  text-decoration: none;
  color: black;
  padding-left: 30px;
}

.all-selector{
  display: flex;
  margin: 30px;
}
