.profile-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 32px;
}

.profile-button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  box-shadow: 0 0 4px rgb(0, 0, 0);
  text-Decoration: None;
  font-family: $racing-font;
}


.card-profile {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 32px;
  display: flex;
  font-family: $racing-font;
}

.card-profile img {
  height: 100%;
  width: 320px;
  object-fit: cover;
}

.card-profile-infos{
  width: 100%;
}

.card-profile-tete {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 16px 4px 16px;
  margin: 0;
}

.card-profile-price {
  list-style-type: none;
  padding-top: 8px;
}

.card-profile-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 16px;
  padding-right: 16px;
}

.card-profile-delete {
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 16px;
  padding: 12px;
}
