p{
  margin: 30px 0px -20px 30px;
  text-align: center;
  font-size: 25px;
}

.classe{
  margin: 100px 50px 50px 50px;
  padding: 30px;
  background-color: black;
  border-radius: 20px;
  text-align: center;
}

.toto{
  border-radius: 10px;
  margin: 10px;
  padding-left: 10px;
  float: inline-start;
}

.lien{
  margin: 50px;
}
.supprimer-bouton{
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  float: right;
}
.button-submit{
  margin-left: 800px;
}
