<h1>Voici toutes les offres</h1>

<div class="main-container">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-trip">
        <%= image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= car.brand %></h2>
            <p><%= car.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price_per_day %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
